@font-face {
  font-family: 'PTSerif';
  src: url(../fonts/PTSerifCaption/PTSerifCaptionRegular/PTSerifCaptionRegular.ttf);
}
@font-face {
  font-family: 'Roboto_Regular';
  src: url(../fonts/roboto_regular.ttf);
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: 'FiraSans-Bold';
  src: url(../fonts/fira-sans/FiraSans-Bold.ttf);
}
@font-face {
  font-family: 'RobotoCondensedRegular';
  src: url(../fonts/RobotoCondensed/RobotoCondensedRegular/RobotoCondensedRegular.ttf);
}
@font-face {
  font-family: 'RobotoCondensedBold';
  src: url(../fonts/RobotoCondensed/RobotoCondensedBold/RobotoCondensedBold.ttf);
}