.city-news-section {
  width: 850px;
  display: inline-block;
  padding-left: 15px;
  position: relative;
  &:after {
    content: '';
    display: inline-block;
    width: 1px;
    right: 0;
    top: 30px;
    bottom: 0;
    position: absolute;
    background: #999999;
  }
  &:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: #999999;
  }
}
.nav-tabs {
  border-bottom: none;
}
.city>li:hover {
  padding: 0 !important;
}
.city > li > a {
  border: none;
  padding: 10px 0!important;
}
.city>li:hover span:hover {
  background: linear-gradient(to right,#3714b0,#9b049c)!important;  //settings color hover city nav//
  -webkit-background-clip: text!important;
}
.city > li > a:focus, .city > li > a:hover {
  background: transparent;
  border: none;
  border-radius: 0;
}
.city > li > {
  display: inline-block;
  margin-right: 40px;
  color: #333333;
  font-family: "FiraSans-Bold";
  font-size: 24px;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  &:hover {
    border-bottom: 3px solid #333333;
    background-color: white;
    padding-bottom: 20px;
    span {
      background: -webkit-linear-gradient(90deg, #3714b0,#9b049c);
      -webkit-background-clip: text;
    }
  }
  span {
    background: #333333;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  a {
    text-decoration: none;
    color: #333333;
  }

}

.nav-tabs > li > a {
  margin: 0!important;
}
.city {
  padding: 0;
  margin: 30px 0 35px 0;
}
.img-city {
  padding: 0;
  margin: 0;
}
                          //--big img city settings--//
.media-img-city {
  //width: 100%;
  width: auto;
  height: 100%;
  position: relative;
  display: inline-block;
  font-size: 0;
  float: left;
  &:after {
    content: '';
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 80px;
    position: absolute;
    background: #333333;
  }
}
.big-img-city {
  position: relative;
  z-index: 1;
  padding: 5px;
}
.media-img-city-hover {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}
.big-img-city-hover {
  position: relative;
  z-index: 1;
  padding: 5px;
}
.text-media-city-link {
  &:hover {
    text-decoration: none;
  }
}
.big-tittle-city {
  margin-left: 392px;
  max-width: 360px;
}
.info-text-city {
  margin-left: 392px;
  max-width: 457px;
}
.city-time {
  margin-left: 28px;

}
.media-section-city-info {
  padding-right: 15px;
  position: relative;
  //display: block;
  &:hover {
    .media-img-city:after {
      background: linear-gradient(to right, #9b049c, #4112ae);
    }
    .media-img-city-hover {
      display: block;
    }
    .h3-text:after {
      background: -webkit-gradient(linear,left bottom,left top,from(#9b049c),to(#4112ae));
      background: -webkit-linear-gradient(bottom,#9b049c,#4112ae);
      background: linear-gradient(0deg,#9b049c,#4112ae);
    }
    .h3-text span span {
      background: -webkit-linear-gradient(90deg, #3714b0,#9b049c);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
                //--small img city settings--//
.media-img-city-small {
  //width: 100%;
  width: auto;
  height: 100%;
  position: relative;
  display: inline-block;
  font-size: 0;
  float: left;
  &:after {
    content: '';
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 44px;
    position: absolute;
    background: #333333;
  }
}
.small-img-city {
  position: relative;
  z-index: 1;
  padding: 3px;
}
.media-img-city-small-hover {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}
.small-img-city-hover {
  position: relative;
  z-index: 1;
  padding: 3px;
}
.small-tittle-city {
  margin: 0 0 17px;
  font-size: 15px;
  padding: 0;
  &:after {
    content: none;
  }                   //clear border
  &:before {
    content: none;
  }
}
.small-text-media-city {
  width: 167px;
  margin-left: 197px;
}
.right-city-small-section {
  margin-left: 25px;
}
.small-text-media-city-link {
  &:hover {
    text-decoration: none;
  }
}
.media-section-city-info-small {
  display: inline-block;
  margin-top: 25px;
  position: relative;
  &:hover {
    .media-img-city-small:after {
      background: linear-gradient(to right, #9b049c, #4112ae);
    }
    .media-img-city-small-hover {
      display: block;
    }
    .h3-text:after {
      background: -webkit-gradient(linear,left bottom,left top,from(#9b049c),to(#4112ae));
      background: -webkit-linear-gradient(bottom,#9b049c,#4112ae);
      background: linear-gradient(0deg,#9b049c,#4112ae);
    }
    .h3-text span span {
      background: -webkit-linear-gradient(90deg, #3714b0,#9b049c);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.time-small-img-city {
  display: inline-block;
  margin-bottom: 17px;
}


    //--btn всі новини--//
.all-news {
  position: absolute;
  top: 38px;
  left: 370px;
  z-index: 5;
  height: 50px;
  width: 67px;
  font-size: 12px;
  font-family: 'Roboto_Regular';
  button {
    background: transparent;
    border: 1px solid #333333;
    text-transform: uppercase;
  }
}
    //--reklama--//
.big-reklama-section {
  margin-left: 280px;
  margin-top: 23px;
  margin-bottom: 20px;
  img {
    width: 100%;
    height: auto;
  }
}