@media screen and (min-width: 1160px) {
  .search:focus{
    outline: none;
  }
  .close__menu {
    display: none!important;
  }
  .right-city-small-section {
    margin: 0;
  }
  .small-img-city-hover {
    display: none;
  }
  .right-city-small-section:hover {
    margin: 0;
    .small-img-city-hover {
      display: block;
    }
    .small-img-city {
      display: none;
    }
  }
  .media-iframe {
    width: 100%;
  }
  .big-reklama-section {
    margin-left: 0;
    a {
      display: inline-block;
    }
  }
  .container__logoFooter a {
    display: inline-block;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1159px)  {
  .social-icons {
    text-align: justify;
    vertical-align: middle;
    &:after {
      width: 100%;
      display: inline-block;
      content: '';
    }
  }
  .nav-right {
    padding: 0;
  }
  .nav-right>li {
    padding: 0;
  }
  .last-news {
    width: 40%;
    .img__sideBar {
      img {
        width: 100%;
      }
    }
  }
  .container__wrapper {
    width: 60%;
    margin-left: 40%;
  }
  .main-news {
    width: 50%;
    margin-left: 0;
    .image-small-container-right, .media-img-class-small {
      width: 100%;
    }
  }
  .media-img-class {
    width: 100%;
  }
  .telechanel-news {
    width: 30%;
    .media-iframe {
      width: 100%;
    }
  }
  .h3-text-small {
    margin-left: 179px;
  }
  .city-news-section, .people__container, .economy__container, .cultural__container, .world__container, .sport__container {
    width: 100%;
  }
  .media-img-city {
    width: 100%;
  }
  .big-tittle-city {
    display: inline-block;
    margin-left: 0;
  }
  .info-text-city {
    max-width: none;
    margin-left: 0;
  }
  .city-time {
    margin-left: 0;
  }
  .city > li {
    margin-right: 8px;
    font-size: 18px;
  }
  .big-img-city, .big-img-city-hover {
    width: 100%;
  }
  .small-text-media-city {
    width: auto;
  }
  .small-img-city-hover {
    display: none;
  }
  .right-city-small-section:hover {
    margin: 0;
    .small-img-city-hover {
      display: block;
    }
    .small-img-city {
      display: none;
    }
  }
  .big-reklama-section {
    margin-left: 0;
    a {
      display: inline-block;
    }
  }
  .media-section-city-info {
    padding: 0;
  }
  .media-section-city-info {
    width: 100%;
  }
  .society__img, .society__imgHover {
    max-width: none;
    height: auto;
    width: 100%;
  }
  .media-img-hover-class-small {
    width: 100%;
  }
  .society__column {
    margin-right: 0;
  }
  .time__society {
    margin-left: 0;
  }
  .society li {
    width: 100%;
  }
  .image-small-container-right, .media-img-class-small {
    width: 100%;
  }
  .text-media-city-link {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
  }
  .society__tittle {
    width: 100%;
    max-width: none;
    margin-bottom: 15px;
  }
  .media-img-hover-class {
    width: 100%;
  }
  .cultural li {
    margin-right: 0;
    width: 100%;
  }
  .main__imageInfo {
    width: 100%;
    .media-img-box-link {
      width: 100%;
      display: inline-block;
    }
  }
  .media__imgBoxBottommenu {
    width: 100%;
  }
  .text__Main {
    margin-bottom: 15px;
  }
  //--*footer--*//
  .container__footer {
    padding: 0 100px;
  }
  .container__logoFooter {
    width: 100%;
    text-align: center;
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0;
    a {
      display: inline-block;
    }
  }
  .autors__reserv {
    text-align: justify;
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
    max-width: none;
  }
  .using__news {
    max-width: none;
    width: 100%;
  }
}
//@media screen and (min-width: 1001px) and (max-width: 1159px)  {
//  .word-progect {
//    padding: 5px 25px!important;
//  }
//  .nav-left > li {
//    padding: 0 5px;
//  }
//  .nav-right>li {
//    padding: 0 0 0 35px!important;
//  }
//  .menu-column-nav {
//    max-width: 320px!important;
//  }
//  .social-icons > li {
//    padding: 0 10px!important;
//  }
//  .all-news {
//    left: 377px!important;
//    button {
//      padding: 5px 20px!important;
//    }
//  }
//  //*--addNews--*//
//  .big-reklama-section a {
//    width: 100%;
//  }
//  .media-section-city-info-small {
//    vertical-align: top;
//  }
//  .cultural__container, .economy__container, .people__container, .sport__container, .world__container {
//    width: 100%;
//  }
//  .society {
//    text-align: justify;
//    &:after {
//      width: 100%;
//      content: '';
//      display: inline-block;
//    }
//  }
//  .society li {
//    display: inline-block;
//  }
//  .cultural {
//    text-align: justify;
//    display: block;
//    &:after {
//      width: 100%;
//      content: '';
//      display: inline-block;
//    }
//  }
//}
//@media screen and (min-width: 901px) and (max-width: 1000px)  {
//  .menu-column-nav {
//    max-width: 300px!important;
//  }
//  .nav-left > li {
//    padding: 0 4px;
//  }
//  .nav-right>li {
//    padding: 0 0 0 20px!important;
//  }
//  .social-icons > li {
//    padding: 0 5px!important;
//  }
//  .word-progect {
//    padding: 5px 20px!important;
//  }
//  .all-news {
//    left: 377px!important;
//    button {
//      padding: 5px 20px!important;
//    }
//  }
//}
//@media screen and (min-width: 800px) and (max-width: 900px)  {
//  .nav-right>li {
//    padding: 0 0 0 20px!important;
//  }
//  .all-news {
//    left: 377px!important;
//    button {
//      padding: 5px 20px!important;
//    }
//  }
//}
//@media screen and (min-width: 871px) and (max-width: 1159px)  {
//  //header
//  .search:focus{
//    outline: none;
//  }
//.glyphicon {
//   font-size: 12px;
//}
//.logotype {
//  width: 260px;
//  img {
//    width: 100%;
//  }
//}
//.social-icons {
//  li {
//    padding: 0;
//  }
//}
//.close__menu {
//  display: none!important;
//}
//.word-progect {
//  padding: 0 5px;
//  font-size: 18px;
//}
//.nav-right {
//  padding: 0;
//}
//.nav-right >li {
//  padding: 0 0 0 5px;
//}
//nav menu
//.close__menu {
//  display: none!important;
//}
//.menu-column-nav {
//  max-width: 270px;
//}
//.nav-left>li>a {
//  font-size: 12px;
//}
//NEW option
//  .last-news {
//    width: 100%;
//    float: none;
//    padding: 0;
//    &:after {
//      display: none;
//    }
//  }
//  .main-news {
//    width: 100%;
//  }
//  .media-img-class {
//    width: 100%;
//  }
//  .media-img-hover-class {
//    width: 100%;
//  }
//  .image-inform-menu-small {
//    display: inline-block;
//  }
//  .image-small-container {
//    margin: 0 100px 0 0;
//  }
//  .telechanel-news {
//    width: 100%;
//    padding: 0;
//    &:after {
//      display: none;
//    }
//  }
//  .media-iframe {
//    width: 100%;
//  }
//  .small-media-section {
//    margin: 35px 0;
//  }
//  .h3-text-small {
//    margin-left: 210px;
//    &:after,
//    &:before {
//      display: none;
//    }
//  }
//  .city-news-section {
//    width: 100%;
//  }
//  .small-img-city-hover {
//      display: none;
//  }
//  .right-city-small-section:hover {
//    margin: 0;
//    .small-img-city-hover {
//        display: block;
//    }
//    .small-img-city {
//        display: none;
//    }
//  }
//  .all-news {
//    left: 500px;
//    top: 0;
//    button {
//      padding: 10px 30px;
//    }
//  }
//  .big-reklama-section {
//    margin: 0;
//    a {
//      display: inline-block;
//    }
//  }
//  .reklama-section {
//    a {
//      display: inline-block;
//      width: 100%;
//    }
//    .reklamaImg {
//      max-width: none;
//      width: 100%;
//    }
//  }
  //footer//
//  .container__logoFooter {
//    margin-left: 0;
//  }
//  .infoFooter>li {
//    text-align: justify;
//  }
//  .autors__reserv {
//    max-width: 370px;
//    margin-right: 20px;
//    font-family: PTSerif;
//    font-size: 12px;
//  }
//  .using__news {
//    max-width: 223px;
//    font-family: PTSerif;
//    font-size: 12px;
//  }
//}
//@media screen and (min-width: 768px) and (max-width: 870px)  {

  //*--add news--*//
  //.telechanel__h3 {
  //  margin: 20px 0 15px;
  //}
  //.small-media-section {
  //  display: inline-block;
  //}
  //.small-time {
  //  margin-left: 35px;
  //}
  //.reklama {
  //  a {
  //    display: inline-block;
  //    width: 100%;
  //  }
  //  .reklamaImg {
  //    max-width: none;
  //    width: 100%;
  //  }
  //}
  //.small-text-media-city {
  //  width: 137px;
  //  margin-left: 197px;
  //}
  //.media-section-city-info-small {
  //  vertical-align: top;
  //}
  //.authors {
  //  font-size: 8px;
  //  margin-right: 5px;
  //}
  //.big-reklama-section {
  //  margin: 0;
  //  a {
  //    display: inline-block;
  //  }
  //}
  //.people__container, .economy__container, .cultural__container, .world__container, .sport__container {
  //  width: 100%;
  //}
  //.society__tittle {
  //  margin-left: 205px;
  //  max-width: 156px;
  //  margin-top: 0;
  //}
  //.society__column {
  //  margin-right: 11px;
  //}
  //.main__imageInfo {
  //  width: 183px;
  //}
  //.cultural li {
  //  margin-right: 11px;
  //}
  //footer//
  //.container__footer {
  //  width: 100%;
  //  max-width: 500px;
  //}
  //.infoFooter {
  //  margin: 30px 0 50px;
  //}
  //.container__logoFooter {
  //  margin: 0;
  //  text-align: center;
  //  width: 100%;
  //  margin-bottom: 20px;
  //}
  //.autors__reserv {
  //  margin: 0;
  //  text-align: justify;
  //  margin-bottom: 20px;
  //  max-width: none;
  //}
  //.using__news {
  //  margin: 0;
  //  max-width: none;
  //  text-align: justify;
  //}

//}
@media screen and (min-width: 640px) and (max-width: 1024px)  {
  //*--header settings--*//
  .search:focus{
    outline: none;
  }
  .contact-information {
    font-size: 10px;
  }
  .search {
    padding: 0;
    .glyphicon-search {
      font-size: 12px;
    }
  }
  .nav-news {
    min-height: 50px;
  }
  .navbar-nav {
    padding: 0;
    margin-top: 45px;
    float: none;
    li {
      float: none;
      display: block;
    }
  }
  .navbar-collapse.collapse.in {
    overflow: visible;
    display: block!important;
  }
  .city-list-menu > li {
    display: block;
  }
  .navbar-header {
    float: right;
  }
  .navbar-toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }

  .menu-column-logo {
    width: 100%!important;
    text-align: center!important;
    margin-top: 10px!important;
  }

  .menu-column {
    width: 100%;
    text-align: center;
  }
  .menu-column-nav {
    display: none;
  }
  .nav-right {
    padding: 0;
  }
  .nav-right>li {
    display: block;
    padding: 0;
    text-align: center;
    margin: 10px 0;
  }
  //*-- end header settings--*//

  //*-- body settings--*//
  .container__wrapper {
    width: 60%;
    margin-left: 40%;
  }
  .last-news {
    width: 40%;
    .text-news a {
      display: block;
    }
    .img__sideBar, .img__sideBarHover {
      img {
        width: 100%;
      }
    }
  }
  .main-news {
    width: 100%;
    margin-left: 0;
    .media-img-class, .media-img-hover-class {
      width: 100%;
    }
    .image-small-container {
      width: 190px;
    }
    .media-img-class-small, .media-img-hover-class-small {
      width: 100%;
    }
    .image-small-container-right {
      width: 135px;
    }
    .name-newspapper {
      margin-right: 27px;
    }
  }
  .telechanel-news {
    position: static;
    //margin-left: 40%;
    width: 100%;
    padding: 0 15px;
    .reklama-section {
      margin-top: 20px;
    }
    .reklama {
      a {
        display: inline-block;
        width: 100%;
      }
    }
    .media-iframe {
      width: 100%;
    }
    .media-iframe-small {
      width: 100%;
      height: auto;
    }
    .media-video-small {
      float: none;
    }
    .h3-text-small {
      margin-left: 0;
    }
  }
  .h3-text {
    margin: 20px 0 20px;
  }
  .small-time {
    margin-left: 0;
  }
  .h3-text-small {
    &:after,
    &:before {
      display: none;
    }
  }
  .h3-text span {
    margin-bottom: 14px;
  }
  .reklamaImg {
    max-width: none!important;
    width: 100%;
  }
  .city-news-section {
    width: 100%;
    padding: 0 15px;
  }
  .city > li {
    margin-right: 8px;
    font-size: 18px;
  }
  .big-img-city, .big-img-city-hover {
    width: 100%;
  }
  .media-img-city {
    width: 100%;
  }
  .big-tittle-city {
    margin-left: 0;
    display: inline-block;
  }
  .info-text-city {
    margin-left: 0;
  }
  .small-text-media-city {
    width: auto;
  }
  .city-time {
    margin: 0;
  }
  .small-img-city-hover {
        display: none;
  }
  .right-city-small-section:hover {
    margin: 0;
    .small-img-city-hover {
        display: block;
    }
    .small-img-city {
        display: none;
    }
  }
  .big-reklama-section {
    margin-left: 0;
    a {
      display: inline-block;
    }
  }
  .media-section-city-info {
    padding: 0;
  }
  .people__container, .economy__container, .cultural__container, .world__container, .sport__container {
    width: 100%;
    padding: 0 15px;
  }
  .society {
    text-align: justify;
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }
  }
  .society__column {
    margin: 0;
  }
  .society__tittle {
    width: auto;
    max-width: none;
    margin-bottom: 15px;
  }
  .society__img, .society__imgHover {
     max-width: none;
     height: auto;
  }
  .media-img-hover-class {
    width: 100%;
  }
  .time__society {
    margin: 0;
  }
  .society__tittle {
    margin-top: 15px;
  }
  .cultural {
    text-align: justify;
    li {
      margin: 0;
    }
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }
  }
  .text__Main {
    margin: 20px 0;
  }
  .media-img-box-link {
    display: inline-block;
    width: 100%;
  }
  .media-img-class, .media__imgBoxBottommenu, .main__imageInfo {
    width: 100%;
  }
  //*-- end body settings--*//
  //*--footer--*//
  .container__footer {
    padding: 0 100px;
  }
  .container__logoFooter {
    width: 100%;
    text-align: center;
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0;
    a {
      display: inline-block;
    }
  }
  .autors__reserv {
    text-align: justify;
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
    max-width: none;
  }
  .using__news {
    max-width: none;
    width: 100%;
  }
//*--end footer--*//
}

@media only screen and (max-width: 639px) {    //було до 767 пх стало до 639пх
  .search:focus{
    outline: none;
  }
  .contact-information {
    font-size: 10px;
  }
  .search {
    padding: 0;
    .glyphicon-search {
      font-size: 12px;
    }
  }
  .container {
    padding: 0 5px;
  }
  .navbar-nav {
    padding: 0;
    margin: 0;
  }
  .navbar-collapse.in {
    overflow: visible;
  }
  .menu-column-logo {
    width: 100%!important;
    text-align: center!important;
    margin-top: 10px!important;
  }

  .menu-column {
    width: 100%;
    text-align: center;
  }
  .menu-column-nav {
    display: none;
  }
  .nav-right {
    padding: 0;
  }
  .nav-right>li {
    display: block;
    padding: 0;
    text-align: center;
    margin: 10px 0;
  }
  .container__wrapper {
    display: inline-block;
  }
  .media-img-hover-class {
    padding: 3px;
  }
  .image-small-container {
    float: none;
  }
  .images__SlideBarHover {
    width: 100%;
  }
  .image-small-container-right {
    float: none;
  }
  .media-img-city {
    float: none;
  }
  .big-tittle-city {
    margin-left: 0;
    max-width: none;
  }
  .info-text-city {
    margin-left: 0;
    max-width: none;
  }

  .right-city-small-section {
    margin-left: 0;
  }
  .media-img-hover-class {
    width: 100%;
  }
  .all-news {
    position: inherit;
  }
  .telechanel-news {
    position: static;
    float: none!important;
    overflow: auto;
    padding: 0;
    width: 100%;
    &:after {
      display: none;
    }
  }
  .media-iframe {
    width: 100%;
  }
  .media-img-class-small {
    width: 100%;
  }
  .image-small-container {
    width: 100%;
  }
  .image-small-container-right {
    width: 100%;
  }
  .media-img-class {
    width: 100%;
  }
  .media-img-class {
    width: 100%;
  }
  .city>li {
    margin-right: 20px;
    font-size: 20px;
  }
  .last-news {
    width: 100%;
    padding: 0;
    &:after {
      display: none;
    }
    .img__sideBar {
      img {
        width: 100%;
      }
    }
  }
  .city-news-section {
    padding: 0;
    width: 100%;
    &:after {
      display: none;
    }
  }
  .media-section-city-info {
    padding: 0;
  }
  .media-section-city-info-small {
    display: block;
    margin: 0!important;
  }
  .media-video {
    width: auto;
  }
  .media-video-small {
    width: 100%;
  }
  .big-img-city {
    width: 100%;
  }
  .small-text-media-city {
    width: auto;
  }
  .h3-text-small {
    font-size: 13px;
    margin: 0;
    padding: 0;
    &:before,
    &:after {
      display: none!important;
    }
  }
  .city {
    padding: 0;
    margin: 20px 0 5px;
  }
  .city > li {
    margin-right: 5px;
    font-size: 15px;
  }
  .media-img-city-small {
    float: none;
    width: 100%;
  }
  .media-img-city {
    width: 100%;
  }
  .media-iframe-small {
    width: 100%;
    height: 100%;
  }
  .media-iframe {
    width: 100%;
  }
  .media-video {
    width: 100%;
  }
  .media-img-hover-class-small {
    width: 100%;
  }
  .city > li {
    font-size: 17px;
  }
  .small-img-city {
    width: 100%;
  }
  .small-img-city-hover {
    width: 100%;
    display: none;
  }
  .small-text-media-city {
    margin: 0;
    width: auto;
    //max-width: none;
  }
  .right-city-small-section:hover {
    .small-img-city-hover {
      display: block;
    }
    .small-img-city {
      display: none;
    }
  }
  .h3-text span span {
    margin: 10px 0;
  }
  .h3-text-small span span {
    font-size: 14px;
    margin: 10px 0;
  }
  .all-news {
    width: 100%;
    text-align:center;
  }
  .main-news {
    padding: 0;
    width: 100%;
    margin-left: 0;
  }
  .big-reklama-section {
    margin: 0;
    padding: 0;
  }
  .reklama {
    width: 100%;
    max-width: none;
    .reklamaImg {
      width: 100%;
    }
  }
  //*--add news--*//
  .cultural__container, .economy__container, .people__container, .sport__container, .world__container {
    width: 100%;
    padding: 0;
  }
  .society__column {
    margin: 0;
    width: 100%;
  }
  .society__img, .society__imgHover {
    width: 100%;
    height: auto;
    max-width: none;
  }
  .big-img-city {
    padding: 3px;
  }
  .society__tittle {
    margin: 0;
  }
  .time__society {
    margin: 0;
  }
  .media__imgSociety {
    margin-bottom: 13px!important;
  }
  .media-img-box-link {
    display: inline-block;
  }
  .media-img-class {
    padding: 3px;
  }
  .cultural > li {
    margin: 0;
    width: 100%;
  }
  .main__imageInfo {
    width: 100%;
  }
  .media-img-box-link {
    width: 100%;
  }
  .media__imgBoxBottommenu {
    width: 100%;
  }
  .text__Main {
    margin: 10px 0 20px;
  }
  //footer//
  .container__footer {
  width: 100%;
  max-width: 500px;
  }
  .infoFooter {
    margin: 30px 0 50px;
  }
  .container__logoFooter {
    margin: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .autors__reserv {
    margin: 0;
    text-align: justify;
    margin-bottom: 20px;
    max-width: none;
  }
  .using__news {
    margin: 0;
    max-width: none;
    text-align: justify;
  }
}

@media only screen and (max-width: 320px) {
  .search:focus{
    outline: none;
  }
  .contact-information {
    font-size: 10px;
  }
  .search {
    padding: 0;
    .glyphicon-search {
      font-size: 12px;
    }
  }
  .menu-column-nav {
    display: none;
  }
  .menu-column {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .container {
    padding: 0 10px;
  }
  .navbar-collapse.in {
    overflow: visible;
  }
  .nav-right {
    padding: 0;
    li {
      padding: 0;
      text-align: center;
      margin: 5px;
    }
  }

  .city-list-menu {
    margin: 0;
  }
  .big-img-city-hover {
    width: 100%;
  }

  .small-text-media-city {
    width: auto;
    //max-width: 113px;
  }
  .small-tittle-city {
    font-size: 12px;
  }
  .h3-text-small span span {
    font-size: 14px;
    margin: 10px 0;
  }
  .media-img-class-small {
    width: 100%;
  }
  .image-small-container {
    width: 100%;
  }
  .image-small-container-right {
    width: 100%;
  }
  .big-reklama-section {
    margin: 0;
    padding: 0;
  }
  .media-iframe-small {
    width: 100%;
    height: 100%;
  }
  .media-iframe {
    width: 100%;
  }
  .h3-text-small {
    margin: 0;
    padding: 0;
    &:before,
    &:after {
      display: none!important;
    }
  }
  .city {
    padding: 0;
    margin: 20px 0 5px;
  }
  .city > li {
    margin-right: 5px;
    font-size: 15px;
  }
  .media-img-city-small {
    float: none;
    width: 100%;
  }
  .media-img-hover-class-small {
    width: 100%;
  }
  .small-img-city {
    width: 100%;
  }
  .small-img-city-hover {
    width: 100%;
    display: none;
  }
  .small-text-media-city {
    margin: 0;
    width: auto;
    //max-width: none;
  }
  .right-city-small-section:hover {
    .small-img-city-hover {
      display: block;
    }
    .small-img-city {
      display: none;
    }
  }
  .h3-text span span {
    margin: 10px 0;
  }
  .all-news {
    width: 100%;
    text-align:center;
  }
  //*--add news--*//
  .cultural__container, .economy__container, .people__container, .sport__container, .world__container {
     width: 100%;
     padding: 0;
  }
  .society__column {
    margin: 0;
  }
  .society__img, .society__imgHover {
    width: 100%;
    height: auto;
    max-width: none;
  }
  .big-img-city {
    padding: 3px;
  }
  .society__tittle {
    margin: 0;
  }
  .media__imgSociety {
    margin-bottom: 13px!important;
  }
  .media-img-box-link {
    display: inline-block;
  }
  .media-img-class {
    padding: 3px;
  }
  .cultural > li {
    margin: 0;
  }
  .main__imageInfo {
    width: 100%;
  }
  .media-img-box-link {
    width: 100%;
  }
  .media__imgBoxBottommenu {
    width: 100%;
  }
  //footer//
  .container__logoFooter {
    margin: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
  }
  .autors__reserv {
    margin: 0;
    width: 100%;
    margin-bottom: 15px;
  }
}